body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-top: 30px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
    border-radius: 15%;
    margin-top: 30px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
#heading{
    text-align: center;
}
p{
    color: dimgray;
}
h2{
    font-size: 40px;
    text-align: center;
}
h4{
    font-size: 30px;
    font-style: italic;
}
footer p{
    text-align: center;
}
h2 span{
    color: brown;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.full-width{
    background-color: antiquewhite;
    margin: 25px;
    border-radius: 15px;
    height: 300px;

}
.full-width img{
    width: 200px;
    height: 100px;
}
.full-width p,h3{
    padding-left: 5px;
}
